.spinner {
    position: absolute;
    top: 33%;
    left: 43%;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,173,0,1) 14%, rgba(247,255,0,1) 28%, rgba(18,142,0,1) 42%, rgba(19,0,255,1) 56%, rgba(96,25,224,1) 70%, rgba(219,0,254,1) 85%);
    border-radius: 100px;

    animation-name: spinner;
    animation-duration: 2s;

    /*background-image: url("../../image/spinner/ying-yang.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 200px;*/
    /*background-position: center;*/
    /*border-radius: 25px;*/
    /*height: 300px;*/
    /*margin-top: 100px;*/
}

@keyframes spinner {
    100% { transform: rotate(360deg); }
}
