.button-product {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.row {
    display: flex;
    padding-bottom: 100px;
    padding-left: 15px;
    justify-content: center;
    user-select: none;
}

.product {
    padding-left: 30px;
    padding-bottom: 30px;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.image-new-product {
    height: 50px;
    width: 50px;
    margin-left: 100px;
}
