.topbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    width: 100%;
    background-color: #FFFFFF;
    user-select: none;
    border-color: #FFFFFF;
}

.button-cart {
    border-color: #FFFFFF;
}
