.product {
    padding-left: 20px;
    padding-bottom: 20px;
}

.name-list-product {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 40px;
}


.button-product {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.row {
    display: flex;
    padding-bottom: 30px;
    padding-left: 15px;
    justify-content: center;
    user-select: none;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.image-new-product {
    height: 50px;
    width: 50px;
    margin-left: 100px;
}

.row-img-product {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 4px;
}

.image-product {
    flex: 20%;
    padding: 20px 4px;
    columns: auto;
}

.image-product img {
    margin: 8px 5px 5px;
    vertical-align: middle;
}

.info-product{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 4px;
}

.info-product-name{
    font-size: 25px;
}

.button-product {
    margin-top: 10px;
}
