.brand-shoes {
    user-select: none;
}

.menu {
    user-select: none;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    color: black;
    text-decoration: none;
}


.brand-shoes-logo {
    background-position-x: center;
    background-size: 43px;
    height: 60px;
    margin: 0 auto;
    max-width: 573px;
}

.view-topbar {
    color: #111;
    font-family: TradeGothicforNike365-BdCn,Helvetica!important;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    margin: auto;
    max-width: 25ch;
    text-align: center;
}

.login-option {
    float: right;
    line-height: 20px;
    margin: 0px 0 20px;
    color: #8d8d8d;
}

.login-option:hover {
    text-decoration: none;
}


.input-g {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    padding-left: 90px;
}
