.brand-shoes {
    height: 80px;
    width: 90px;
    user-select: none;
}


.search-icon {
    height: 25px;
    margin-top: 5px;
    padding-right: 10px;
    user-select: none;
}


.search-input {
    padding-left: 100px;
    user-select: none;
}


.menu {
    user-select: none;
}


.brand-shoes-logo {
    height: 80px;
    width: 90px;
    user-select: none;
}
